#Type in the full filepath for a folder with the .gitignore file as the root directory

#If something needs to be ignored but it has alread been added, follow the steps below:

#cd ~/documents/Sophies

#git rm -r --cached.

#git add .

#(didnt need for me but maybe after  a few versions commited) git reset HEAD


# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.pidb.meta
*.suo
*.sln
*.DotSettings
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============ #
# Other		   #
# ============ #
SupportingFiles/